.footer{
  /*background-color:rgb(139,187,128);*/
  background: #363636;
  height:160px;
  clear:both;
  color:#959595;
  margin:0 auto;
  .contactInfo{
    width:980px;
    margin:0 auto;
    text-align: center;
  }
  .item,.qrcode{
    display:inline-block;
    img{
      width:120px;
      height:120px;
    }
  }
  .qrcode{
    float:right;
  }
}
#footer-ctn {
  padding:0;
  border-top:1px solid #444;
  ul{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    li{
      width:25%;
      display:inline-block;
      &.selected a{
        color:#079ed6;
      }
      a{
        text-decoration: none;
        display:inline-block;
        height:40px;
        line-height: 40px;
        color:#fff;
        display: block;
      }
    }
  }
}