<!--ibuyer login.form-->
    <!--表单start-->
    <form action="http://server.aawooo.com:8080/userAction!checkLogin.action" method="post" class="login-form form">
        <div class="form-group text-center form-header">
            <img src="http://aawooo.com/images/logo.jpg" class="icon-logo">
        </div>
        <input type="hidden" name="redirect" value="http://just-it.top/#/notes"/>
        <div class="form-group">
            <label for="email">用 户 名：</label>
            <input name="email" id="email" type="text" class="form-control" placeholder="邮箱地址/手机号">
        </div>
        <div class="form-group">
            <label for="password">密      码：</label>
            <input name="password" id="password" type="password" class="form-control" placeholder="登录密码">
        </div>
        <div class="form-group">
            <label for="checkCode">验 证 码：</label>
            <input name="secret" type="hidden">
            <div class="input-group">
                <input name="checkCode" id="checkCode" type="text" class="form-control" onBlur={this.veryfyVCode} placeholder="点击验证码刷新">
                <a href="javascript:void(0)" class="change-check-code input-group-addon" onClick={this.refreshVCode}><img src="http://aawooo.com/images/aawooo_s.png" class="checkCodeImg" id="checkCodeImg"></a>
            </div>
        </div>
        <div class="form-group error-msg input-error" style="display: none;">
        </div>
        <div class="notice">
            <label class="t-pico">点击<a target="_self" href="http://aawooo.com/login/register.html">创建帐户</a></label>
        </div>
        <div class="form-group center-block text-center">
            <button class="loginBtn mui-btn-primary" onClick={this.onClickSubmitHandler}>登录</button>
        </div>
    </form>
    <!--表单end-->